In [1]:
import pandas as pd

# input_feature= pd.read_csv('./sungbin/9_02_CHART_LAB_merge.csv')
# input_feature= pd.read_csv('./sungbin/9_14_CHART_LAB_merge.csv')
input_feature= pd.read_csv('./sungbin/9_20_final_input.csv')

# input_feature= pd.read_csv('./sungbin/final_df.csv')
# input_feature= pd.read_csv('./sungbin/9_21_input.csv')

## 한시간 단위로 쪼개기

In [2]:
input_feature

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CAL_TIME,50868,50882,50893,50902,50912,50931,...,220179,220180,220210,220277,223761,DOB,ADMITTIME,ETHNICITY,GENDER,CAL_AGE
0,4,185777,294638,11,NaN,NaN,NaN,NaN,0.001114,0.030635,...,NaN,NaN,NaN,NaN,NaN,2143/1/1 00:00:00,2191/1/1 00:28:00,WHITE,F,48
1,4,185777,294638,13,NaN,NaN,NaN,NaN,0.001114,NaN,...,NaN,NaN,NaN,NaN,NaN,2143/1/1 00:00:00,2191/1/1 00:28:00,WHITE,F,48
2,13,143045,263738,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2127/1/1 00:00:00,2167/1/1 18:43:00,WHITE,F,40
3,13,143045,263738,1,0.353659,0.400000,NaN,0.515464,0.000743,0.043764,...,NaN,NaN,NaN,NaN,NaN,2127/1/1 00:00:00,2167/1/1 18:43:00,WHITE,F,40
4,13,143045,263738,3,0.365854,0.418182,0.302013,0.505155,0.000619,0.042826,...,NaN,NaN,NaN,NaN,NaN,2127/1/1 00:00:00,2167/1/1 18:43:00,WHITE,F,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98705,98593,145414,242205,21,0.463415,0.318182,0.266779,0.453608,NaN,0.037043,...,NaN,NaN,NaN,NaN,NaN,2131/11/17 00:00:00,2193/1/1 21:32:00,WHITE,F,61
98706,98593,145414,242205,22,0.451220,0.290909,0.278523,0.489691,NaN,0.043034,...,NaN,NaN,NaN,NaN,NaN,2131/11/17 00:00:00,2193/1/1 21:32:00,WHITE,F,61
98707,98593,145414,242205,23,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2131/11/17 00:00:00,2193/1/1 21:32:00,WHITE,F,61
98708,98890,147030,201624,0,NaN,NaN,NaN,0.432990,0.001980,NaN,...,NaN,NaN,NaN,NaN,NaN,2056/10/30 00:00:00,2118/1/1 07:15:00,WHITE,F,61
98709,99806,133851,248498,6,0.463415,0.363636,0.295302,0.494845,0.002104,NaN,...,NaN,NaN,NaN,NaN,NaN,2041/1/1 00:00:00,2107/1/1 02:37:00,WHITE,M,66

In [3]:
input_feature.columns

Index(['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'CAL_TIME', '50868', '50882',
       '50893', '50902', '50912', '50931', '50960', '50970', '50971', '50983',
       '51006', '51221', '51222', '51248', '51249', '51250', '51265', '51277',
       '51279', '51301', '220045', '220050', '220051', '220179', '220180',
       '220210', '220277', '223761', 'WEIGHT_ITEM_ID'],
      dtype='object')

In [5]:
from tqdm import tqdm
input_feature["ICUSTAY_ID"] = input_feature.ICUSTAY_ID.astype('int')
input_feature["CAL_TIME"] = input_feature.CAL_TIME.astype('int')
def func_one_hour(row):
    time = row.CAL_TIME
    return f'{row.ICUSTAY_ID}_{time}'
    
input_feature['new_time'] = input_feature.apply(lambda row: func_one_hour(row), axis=1)
input_feature

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CAL_TIME,50868,50882,50893,50902,50912,50931,...,220045,220050,220051,220179,220180,220210,220277,223761,WEIGHT_ITEM_ID,new_time
0,41.0,101757.0,237024,0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.181668,237024_0
1,41.0,101757.0,237024,1,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.181668,237024_1
2,41.0,101757.0,237024,2,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.179758,237024_2
3,41.0,101757.0,237024,3,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.178502,237024_3
4,41.0,101757.0,237024,4,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.179005,237024_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53899,99809.0,154672.0,214592,19,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.212639,214592_19
53900,99809.0,154672.0,214592,20,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.166606,214592_20
53901,99809.0,154672.0,214592,21,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.170503,214592_21
53902,99809.0,154672.0,214592,22,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.250956,214592_22
53903,99809.0,154672.0,214592,23,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.190686,214592_23

In [4]:
input_feature['new_time'] #  33749
len(input_feature['new_time'].unique()) # 33749

34880

In [6]:
new_time_df = input_feature.iloc[:,4:].groupby(['new_time']).mean()
new_time_df

,50868,50882,50893,50902,50912,50931,50960,50970,50971,50983,...,51301,220045,220050,220051,220179,220180,220210,220277,223761,WEIGHT_ITEM_ID
new_time,,,,,,,,,,,,,,,,,,,,,
200066_0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.183945
200066_1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.184790
200066_10,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.008701
200066_11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.014344
200066_12,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.179303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299931_5,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.180614
299931_6,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.182386
299931_7,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.173356
299931_8,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.094485
299931_9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.015615

## 4시간 단위로 쪼개기

In [22]:
input_feature["ICUSTAY_ID"] = input_feature.ICUSTAY_ID.astype('int')
# input_feature[input_feature['CAL_AGE'] >= 90]['CAL_AGE'] = 90
# input_feature.drop(columns=['DOB','ADMITTIME'],inplace=True)
input_feature

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CAL_TIME,50868,50882,50893,50902,50912,50931,...,220045,220050,220051,220179,220180,220210,220277,223761,WEIGHT_ITEM_ID,new_time
0,41,101757,237024,1.0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0.181668,237024.0_0
1,41,101757,237024,2.0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0.179758,237024.0_0
2,41,101757,237024,3.0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0.178502,237024.0_0
3,41,101757,237024,4.0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0.179005,237024.0_4
4,41,101757,237024,5.0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0.194617,237024.0_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35335,99809,154672,214592,19.0,0,0,0,0,0,0,...,1,0,0,1,1,1,1,1,0.212639,214592.0_16
35336,99809,154672,214592,20.0,0,0,0,0,0,0,...,1,0,0,1,1,1,1,0,0.166606,214592.0_20
35337,99809,154672,214592,21.0,0,0,0,0,0,0,...,1,0,0,1,1,1,1,0,0.170503,214592.0_20
35338,99809,154672,214592,22.0,0,0,0,0,0,0,...,1,0,0,1,1,1,1,0,0.250956,214592.0_20
35339,99809,154672,214592,23.0,0,0,0,0,0,0,...,1,0,0,1,1,1,1,1,0.190686,214592.0_20

In [23]:
len(input_feature.ICUSTAY_ID.unique())

2246

In [24]:
from tqdm import tqdm

def func(row):
    time = row.CAL_TIME
    if time >= 0 and time < 4:
        return f'{row.ICUSTAY_ID}_0'
    elif time >= 4 and time < 8:
        return f'{row.ICUSTAY_ID}_4'
    elif time >= 8 and time < 12:
        return f'{row.ICUSTAY_ID}_8'
    elif time >= 12 and time < 16:
        return f'{row.ICUSTAY_ID}_12'
    elif time >= 16 and time < 20:
        return f'{row.ICUSTAY_ID}_16'
    else:
        return f'{row.ICUSTAY_ID}_20'
    
input_feature['new_time'] = input_feature.apply(lambda row: func(row), axis=1)

In [25]:
input_feature

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CAL_TIME,50868,50882,50893,50902,50912,50931,...,220045,220050,220051,220179,220180,220210,220277,223761,WEIGHT_ITEM_ID,new_time
0,41,101757,237024,1.0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0.181668,237024_0
1,41,101757,237024,2.0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0.179758,237024_0
2,41,101757,237024,3.0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0.178502,237024_0
3,41,101757,237024,4.0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0.179005,237024_4
4,41,101757,237024,5.0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0.194617,237024_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35335,99809,154672,214592,19.0,0,0,0,0,0,0,...,1,0,0,1,1,1,1,1,0.212639,214592_16
35336,99809,154672,214592,20.0,0,0,0,0,0,0,...,1,0,0,1,1,1,1,0,0.166606,214592_20
35337,99809,154672,214592,21.0,0,0,0,0,0,0,...,1,0,0,1,1,1,1,0,0.170503,214592_20
35338,99809,154672,214592,22.0,0,0,0,0,0,0,...,1,0,0,1,1,1,1,0,0.250956,214592_20
35339,99809,154672,214592,23.0,0,0,0,0,0,0,...,1,0,0,1,1,1,1,1,0.190686,214592_20

In [26]:
input_feature.columns

Index(['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'CAL_TIME', '50868', '50882',
       '50893', '50902', '50912', '50931', '50960', '50970', '50971', '50983',
       '51006', '51221', '51222', '51248', '51249', '51250', '51265', '51277',
       '51279', '51301', '220045', '220050', '220051', '220179', '220180',
       '220210', '220277', '223761', 'WEIGHT_ITEM_ID', 'new_time'],
      dtype='object')

In [27]:
new_time_df = input_feature.iloc[:,4:].groupby(['new_time']).mean()
new_time_df

,50868,50882,50893,50902,50912,50931,50960,50970,50971,50983,...,51301,220045,220050,220051,220179,220180,220210,220277,223761,WEIGHT_ITEM_ID
new_time,,,,,,,,,,,,,,,,,,,,,
200066_0,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,0.666667,1.000000,...,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.183372
200066_12,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,...,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.174099
200066_16,0.666667,0.666667,0.666667,0.666667,0.333333,1.0,0.666667,0.666667,1.000000,0.666667,...,0.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.121899
200066_20,0.000000,1.000000,0.000000,1.000000,1.000000,0.0,1.000000,0.000000,0.000000,1.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.156121
200066_4,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,...,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.189765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299931_12,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,...,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.180096
299931_16,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.010606
299931_20,0.500000,0.500000,0.000000,0.500000,0.500000,0.5,0.000000,0.000000,0.500000,0.500000,...,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.130445
299931_4,1.000000,1.000000,0.666667,1.000000,1.000000,1.0,0.666667,0.666667,1.000000,1.000000,...,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.178195
299931_8,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.500000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.066552

In [36]:
non_num = input_feature[['ETHNICITY', 'GENDER','new_time']]
dup_non_num = non_num.drop_duplicates()
dup_non_num

      ETHNICITY GENDER   new_time
0         WHITE      F   294638_8
1         WHITE      F  294638_12
2         WHITE      F   263738_0
5         WHITE      F   263738_4
7         WHITE      F   263738_8
...         ...    ...        ...
98696     WHITE      F  242205_12
98700     WHITE      F  242205_16
98704     WHITE      F  242205_20
98708     WHITE      F   201624_0
98709     WHITE      M   248498_4

[52083 rows x 3 columns]

In [37]:
merge = pd.merge(new_time_df, dup_non_num, on='new_time', how='inner')
merge

,new_time,50868,50882,50893,50902,50912,50931,50960,50970,50971,...,220050,220051,220179,220180,220210,220277,223761,CAL_AGE,ETHNICITY,GENDER
0,200006_16,0.353659,0.454545,0.285235,0.463918,0.000866,NaN,0.047619,0.093750,0.211864,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54,OTHER,M
1,200006_20,0.439024,0.518182,0.303691,0.350515,0.001300,0.061269,NaN,NaN,0.194915,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54,OTHER,M
2,200007_16,0.432927,0.345455,NaN,0.448454,0.000949,NaN,NaN,NaN,0.200565,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43,WHITE,M
3,200007_20,0.475610,0.327273,NaN,0.474227,0.001114,NaN,NaN,NaN,0.254237,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43,WHITE,M
4,200014_16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85,UNKNOWN/NOT SPECIFIED,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52078,299979_12,0.426829,0.318182,0.265101,0.500000,0.001114,0.046108,0.042017,0.144531,0.258475,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65,WHITE,M
52079,299979_16,NaN,NaN,0.285235,0.536082,NaN,NaN,NaN,NaN,0.228814,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65,WHITE,M
52080,299979_4,0.402439,0.345455,0.288591,0.494845,0.001114,0.042826,0.053221,0.113281,0.237288,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65,WHITE,M
52081,299979_8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65,WHITE,M
52082,299984_0,0.414634,0.327273,NaN,0.484536,0.001609,0.033448,NaN,NaN,0.177966,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78,PATIENT DECLINED TO ANSWER,F

In [38]:
from sklearn.preprocessing import MinMaxScaler
minmax = MinMaxScaler()
merge['CAL_AGE'] = minmax.fit_transform(merge['CAL_AGE'].values.reshape(-1,1))
merge

,new_time,50868,50882,50893,50902,50912,50931,50960,50970,50971,...,220050,220051,220179,220180,220210,220277,223761,CAL_AGE,ETHNICITY,GENDER
0,200006_16,0.353659,0.454545,0.285235,0.463918,0.000866,NaN,0.047619,0.093750,0.211864,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.173633,OTHER,M
1,200006_20,0.439024,0.518182,0.303691,0.350515,0.001300,0.061269,NaN,NaN,0.194915,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.173633,OTHER,M
2,200007_16,0.432927,0.345455,NaN,0.448454,0.000949,NaN,NaN,NaN,0.200565,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.138264,WHITE,M
3,200007_20,0.475610,0.327273,NaN,0.474227,0.001114,NaN,NaN,NaN,0.254237,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.138264,WHITE,M
4,200014_16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.273312,UNKNOWN/NOT SPECIFIED,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52078,299979_12,0.426829,0.318182,0.265101,0.500000,0.001114,0.046108,0.042017,0.144531,0.258475,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.209003,WHITE,M
52079,299979_16,NaN,NaN,0.285235,0.536082,NaN,NaN,NaN,NaN,0.228814,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.209003,WHITE,M
52080,299979_4,0.402439,0.345455,0.288591,0.494845,0.001114,0.042826,0.053221,0.113281,0.237288,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.209003,WHITE,M
52081,299979_8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.209003,WHITE,M
52082,299984_0,0.414634,0.327273,NaN,0.484536,0.001609,0.033448,NaN,NaN,0.177966,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.250804,PATIENT DECLINED TO ANSWER,F

In [2]:
# merge.to_csv('./sungbin/9_20_CHA_LAB_time_window_4hours.csv', index=False)
# merge = pd.read_csv('./sungbin/9_20_CHA_LAB_time_window_4hours.csv')
import pandas as pd
# merge = pd.read_csv('./sungbin/final_df.csv')

In [7]:
merge = new_time_df

## label(prbc)붙이기

In [8]:
# prbc = pd.read_csv('sungbin/8_27_PRBC_INPUTEVENTS_MV_drop_dup.csv')
prbc = pd.read_csv('sungbin/9_15_PATIENT_BEFORE.csv')

In [9]:
# prbc = prbc[['SUBJECT_ID','HADM_ID','ICUSTAY_ID','CAL_START','label']]
prbc

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,GENDER,DOB,ETHNICITY,ITEMID,AMOUNT,AMOUNTUOM,label,CAL_START,first_admit_age
0,97,127870,288376,M,2031/1/1 00:00:00,PATIENT DECLINED TO ANSWER,30001,375.0,ml,1,4,74
1,389,134048,220654,F,2031/1/1 00:00:00,WHITE,30001,375.0,ml,1,6,73
2,389,134048,220654,F,2031/1/1 00:00:00,WHITE,30001,100.0,ml,1,6,73
3,389,134048,220654,F,2031/1/1 00:00:00,WHITE,30001,100.0,ml,1,5,73
4,389,134048,220654,F,2031/1/1 00:00:00,WHITE,30001,100.0,ml,1,4,73
...,...,...,...,...,...,...,...,...,...,...,...,...
12454,69289,179175,252190,M,2075/1/1 00:00:00,WHITE,225168,375.0,ml,1,1,88
12455,14606,174010,274986,F,2087/1/1 00:00:00,WHITE,30001,375.0,ml,1,4,69
12456,23458,194383,297531,F,2058/10/25 00:00:00,UNKNOWN/NOT SPECIFIED,30001,375.0,ml,1,7,84
12457,23458,194383,297531,F,2058/10/25 00:00:00,UNKNOWN/NOT SPECIFIED,30001,375.0,ml,1,0,84
12458,14463,180348,214765,M,2073/1/1 00:00:00,WHITE,30001,375.0,ml,1,8,65

In [46]:
from tqdm import tqdm

def func_prbc(row):
    time = row.CAL_START
    if time >= 0 and time < 4:
        return f'{row.ICUSTAY_ID}_non'
    elif time >= 4 and time < 8:
        return f'{row.ICUSTAY_ID}_0'
    elif time >= 8 and time < 12:
        return f'{row.ICUSTAY_ID}_4'
    elif time >= 12 and time < 16:
        return f'{row.ICUSTAY_ID}_8'
    elif time >= 16 and time < 20:
        return f'{row.ICUSTAY_ID}_12'
    elif time >= 20 and time < 24:
        return f'{row.ICUSTAY_ID}_16'
    else:
        return f'{row.ICUSTAY_ID}_20'
    
def func_prbc_that_time(row):
    time = row.CAL_START
    if time >= 0 and time < 4:
        return f'{row.ICUSTAY_ID}_0'
    elif time >= 4 and time < 8:
        return f'{row.ICUSTAY_ID}_4'
    elif time >= 8 and time < 12:
        return f'{row.ICUSTAY_ID}_8'
    elif time >= 12 and time < 16:
        return f'{row.ICUSTAY_ID}_12'
    elif time >= 16 and time < 20:
        return f'{row.ICUSTAY_ID}_16'
    elif time >= 20 and time < 24:
        return f'{row.ICUSTAY_ID}_20'
    else:
        return f'{row.ICUSTAY_ID}_non'
    
def func_prbc_in1_out2(row):
    time = row.CAL_START
    if time >= 1 and time < 3:
        return f'{row.ICUSTAY_ID}_0'
    elif time >= 2 and time < 4:
        return f'{row.ICUSTAY_ID}_1'
    elif time >= 3 and time < 5:
        return f'{row.ICUSTAY_ID}_2'
    elif time >= 4 and time < 6:
        return f'{row.ICUSTAY_ID}_3'
    elif time >= 5 and time < 7:
        return f'{row.ICUSTAY_ID}_4'
    elif time >= 6 and time < 8:
        return f'{row.ICUSTAY_ID}_5'
    elif time >= 7 and time < 9:
        return f'{row.ICUSTAY_ID}_6'
    elif time >= 8 and time < 10:
        return f'{row.ICUSTAY_ID}_7'
    elif time >= 9 and time < 11:
        return f'{row.ICUSTAY_ID}_8'
    elif time >= 10 and time < 12:
        return f'{row.ICUSTAY_ID}_9'
    elif time >= 11 and time < 13:
        return f'{row.ICUSTAY_ID}_10'
    elif time >= 12 and time < 14:
        return f'{row.ICUSTAY_ID}_11'
    elif time >= 13 and time < 15:
        return f'{row.ICUSTAY_ID}_12'
    elif time >= 14 and time < 16:
        return f'{row.ICUSTAY_ID}_13'
    elif time >= 15 and time < 17:
        return f'{row.ICUSTAY_ID}_14'
    elif time >= 16 and time < 18:
        return f'{row.ICUSTAY_ID}_15'
    elif time >= 17 and time < 19:
        return f'{row.ICUSTAY_ID}_16'
    elif time >= 18 and time < 20:
        return f'{row.ICUSTAY_ID}_17'
    elif time >= 19 and time < 21:
        return f'{row.ICUSTAY_ID}_18'
    elif time >= 20 and time < 22:
        return f'{row.ICUSTAY_ID}_19'
    elif time >= 21 and time < 23:
        return f'{row.ICUSTAY_ID}_20'
    elif time >= 22 and time < 24:
        return f'{row.ICUSTAY_ID}_21'
    elif time >= 23 and time < 25:
        return f'{row.ICUSTAY_ID}_22'
    elif time >= 24 and time < 26:
        return f'{row.ICUSTAY_ID}_23'
    else:
        return f'{row.ICUSTAY_ID}_non'
    
prbc['new_time'] = prbc.apply(lambda row: func_prbc(row), axis=1)
# prbc['new_time'] = prbc.apply(lambda row: func_prbc_that_time(row), axis=1)
# prbc['new_time'] = prbc.apply(lambda row: func_prbc_in1_out2(row), axis=1)

In [10]:
# 다음 1시간묶기
from tqdm import tqdm

def func_one_hour(row):
    time = row.CAL_START
    return f'{row.ICUSTAY_ID}_{time}'
    
prbc['new_time'] = prbc.apply(lambda row: func_one_hour(row), axis=1)
prbc

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,GENDER,DOB,ETHNICITY,ITEMID,AMOUNT,AMOUNTUOM,label,CAL_START,first_admit_age,new_time
0,97,127870,288376,M,2031/1/1 00:00:00,PATIENT DECLINED TO ANSWER,30001,375.0,ml,1,4,74,288376_4
1,389,134048,220654,F,2031/1/1 00:00:00,WHITE,30001,375.0,ml,1,6,73,220654_6
2,389,134048,220654,F,2031/1/1 00:00:00,WHITE,30001,100.0,ml,1,6,73,220654_6
3,389,134048,220654,F,2031/1/1 00:00:00,WHITE,30001,100.0,ml,1,5,73,220654_5
4,389,134048,220654,F,2031/1/1 00:00:00,WHITE,30001,100.0,ml,1,4,73,220654_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12454,69289,179175,252190,M,2075/1/1 00:00:00,WHITE,225168,375.0,ml,1,1,88,252190_1
12455,14606,174010,274986,F,2087/1/1 00:00:00,WHITE,30001,375.0,ml,1,4,69,274986_4
12456,23458,194383,297531,F,2058/10/25 00:00:00,UNKNOWN/NOT SPECIFIED,30001,375.0,ml,1,7,84,297531_7
12457,23458,194383,297531,F,2058/10/25 00:00:00,UNKNOWN/NOT SPECIFIED,30001,375.0,ml,1,0,84,297531_0
12458,14463,180348,214765,M,2073/1/1 00:00:00,WHITE,30001,375.0,ml,1,8,65,214765_8

In [11]:
prbc

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,GENDER,DOB,ETHNICITY,ITEMID,AMOUNT,AMOUNTUOM,label,CAL_START,first_admit_age,new_time
0,97,127870,288376,M,2031/1/1 00:00:00,PATIENT DECLINED TO ANSWER,30001,375.0,ml,1,4,74,288376_4
1,389,134048,220654,F,2031/1/1 00:00:00,WHITE,30001,375.0,ml,1,6,73,220654_6
2,389,134048,220654,F,2031/1/1 00:00:00,WHITE,30001,100.0,ml,1,6,73,220654_6
3,389,134048,220654,F,2031/1/1 00:00:00,WHITE,30001,100.0,ml,1,5,73,220654_5
4,389,134048,220654,F,2031/1/1 00:00:00,WHITE,30001,100.0,ml,1,4,73,220654_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12454,69289,179175,252190,M,2075/1/1 00:00:00,WHITE,225168,375.0,ml,1,1,88,252190_1
12455,14606,174010,274986,F,2087/1/1 00:00:00,WHITE,30001,375.0,ml,1,4,69,274986_4
12456,23458,194383,297531,F,2058/10/25 00:00:00,UNKNOWN/NOT SPECIFIED,30001,375.0,ml,1,7,84,297531_7
12457,23458,194383,297531,F,2058/10/25 00:00:00,UNKNOWN/NOT SPECIFIED,30001,375.0,ml,1,0,84,297531_0
12458,14463,180348,214765,M,2073/1/1 00:00:00,WHITE,30001,375.0,ml,1,8,65,214765_8

In [33]:
# prbc['label'] = 1
# prbc

In [12]:
for_merge_prbc = prbc[['new_time','label']]
for_merge_prbc = for_merge_prbc.drop_duplicates()
for_merge_prbc

       new_time  label
0      288376_4      1
1      220654_6      1
3      220654_5      1
4      220654_4      1
5      268624_1      1
...         ...    ...
12453  252190_2      1
12455  274986_4      1
12456  297531_7      1
12457  297531_0      1
12458  214765_8      1

[9983 rows x 2 columns]

In [13]:
merge

,50868,50882,50893,50902,50912,50931,50960,50970,50971,50983,...,51301,220045,220050,220051,220179,220180,220210,220277,223761,WEIGHT_ITEM_ID
new_time,,,,,,,,,,,,,,,,,,,,,
200066_0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.183945
200066_1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.184790
200066_10,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.008701
200066_11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.014344
200066_12,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.179303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299931_5,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.180614
299931_6,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.182386
299931_7,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.173356
299931_8,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.094485
299931_9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.015615

In [14]:
final_input_table = pd.merge(merge,for_merge_prbc,on='new_time',how='left')
final_input_table['label'] = final_input_table['label'].fillna(0)
# final_input_table.drop(columns=['220050', '220051'], inplace = True)
final_input_table

,new_time,50868,50882,50893,50902,50912,50931,50960,50970,50971,...,220045,220050,220051,220179,220180,220210,220277,223761,WEIGHT_ITEM_ID,label
0,200066_0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.183945,0.0
1,200066_1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.184790,0.0
2,200066_10,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.008701,0.0
3,200066_11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.014344,0.0
4,200066_12,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.179303,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53899,299931_5,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.180614,1.0
53900,299931_6,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.182386,0.0
53901,299931_7,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.173356,0.0
53902,299931_8,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.094485,0.0
53903,299931_9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.015615,0.0

In [15]:
final_input_table['label'].value_counts()

0.0    52453
1.0     1451
Name: label, dtype: int64

In [56]:
final_input_table.columns

Index(['new_time', '50868', '50882', '50893', '50902', '50912', '50931',
       '50960', '50970', '50971', '50983', '51006', '51221', '51222', '51248',
       '51249', '51250', '51265', '51277', '51279', '51301', '220045',
       '220050', '220051', '220179', '220180', '220210', '220277', '223761',
       'WEIGHT_ITEM_ID', 'label'],
      dtype='object')

In [57]:
final_input_table.describe()

,50868,50882,50893,50902,50912,50931,50960,50970,50971,50983,...,220045,220050,220051,220179,220180,220210,220277,223761,WEIGHT_ITEM_ID,label
count,12632.000000,12632.000000,12632.000000,12632.000000,12632.000000,12632.000000,12632.000000,12632.00000,12632.000000,12632.000000,...,12632.000000,12632.000000,12632.000000,12632.000000,12632.000000,12632.000000,12632.000000,12632.000000,12632.000000,12632.000000
mean,0.636525,0.649976,0.544424,0.648221,0.576294,0.607571,0.602511,0.52908,0.703056,0.657813,...,0.103995,0.066986,0.067026,0.083406,0.083023,0.103349,0.103626,0.051476,0.137085,0.047103
std,0.374123,0.371353,0.388918,0.371015,0.398465,0.378070,0.381221,0.39055,0.353142,0.368856,...,0.304475,0.248457,0.248446,0.270116,0.269272,0.303460,0.303586,0.182300,0.081627,0.211867
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000004,0.000000
25%,0.333333,0.333333,0.250000,0.333333,0.250000,0.333333,0.333333,0.00000,0.500000,0.333333,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.083483,0.000000
50%,0.666667,0.750000,0.500000,0.750000,0.666667,0.666667,0.666667,0.50000,0.750000,0.750000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.134141,0.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.178268,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.548526,1.000000

In [16]:
final_input_table.to_csv('./sungbin/9_22_1hour_final_input.csv', index=False)

In [90]:
# final_input_table[final_input_table.notnull().iloc[:,21:-4].sum(axis=1) > 0]

In [89]:
# final_input_table[final_input_table.notnull().iloc[:,1:21].sum(axis=1) > 0]

In [98]:
intersection = final_input_table[(final_input_table.notnull().iloc[:,1:21].sum(axis=1) > 0) & (final_input_table.notnull().iloc[:,21:-4].sum(axis=1) > 0)]
intersection['GENDER'] = intersection.apply(lambda row: 1 if row.GENDER == 'F' else 0, axis=1)
intersection

<ipython-input-98-b318c046946a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  intersection['GENDER'] = intersection.apply(lambda row: 1 if row.GENDER == 'F' else 0, axis=1)

,new_time,50868,50882,50893,50902,50912,50931,50960,50970,50971,...,220045,220179,220180,220210,220277,223761,CAL_AGE,ETHNICITY,GENDER,label
156,200277_0,0.386179,0.400000,0.277405,0.470790,0.000701,0.025320,0.040149,0.135417,0.169492,...,0.602612,0.597384,0.630319,0.440789,0.997500,0.966862,0.073955,WHITE,1,0.0
157,200277_12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.638060,0.662791,0.627660,0.368421,1.000000,0.956140,0.073955,WHITE,1,0.0
158,200277_16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.699005,0.620155,0.652482,0.500000,0.993333,NaN,0.073955,WHITE,1,1.0
159,200277_20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.714552,0.643411,0.691489,0.473684,0.997500,0.966618,0.073955,WHITE,1,0.0
160,200277_4,0.373984,0.418182,0.281879,0.484536,0.000701,0.027821,0.041083,0.141927,0.197740,...,0.663246,0.632267,0.686170,0.486842,0.995000,0.961014,0.073955,WHITE,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52000,299853_12,0.402439,0.200000,NaN,NaN,0.000990,0.039075,NaN,0.117188,0.177966,...,0.689366,NaN,NaN,0.438596,0.975417,0.944444,0.276527,WHITE,0,0.0
52001,299853_16,0.365854,0.345455,0.238255,0.587629,0.001238,0.030322,0.056022,0.062500,0.144068,...,0.665734,NaN,NaN,0.479715,0.977292,0.948668,0.276527,WHITE,0,0.0
52002,299853_20,0.439024,0.224242,0.305369,0.515464,0.001898,0.041575,0.046218,0.117188,0.223164,...,0.666667,NaN,NaN,0.456140,0.983333,0.958090,0.276527,WHITE,0,0.0
52003,299853_4,0.378049,0.336364,0.239933,0.577320,0.000990,0.026415,0.053221,0.087891,0.169492,...,0.630597,0.649709,0.619681,0.374452,0.980833,0.961014,0.276527,WHITE,0,1.0
52004,299853_8,0.378049,0.309091,0.255034,NaN,0.001361,0.040013,0.042017,0.121094,NaN,...,0.654984,0.749225,0.641135,0.380169,0.988125,0.960526,0.276527,WHITE,0,0.0

In [87]:
intersection.label.value_counts()

0.0    969
1.0    310
Name: label, dtype: int64

In [99]:
intersection.ETHNICITY.value_counts()

WHITE                             937
UNABLE TO OBTAIN                   77
BLACK/AFRICAN AMERICAN             75
UNKNOWN/NOT SPECIFIED              38
ASIAN - CHINESE                    22
ASIAN                              22
PATIENT DECLINED TO ANSWER         18
HISPANIC OR LATINO                 16
OTHER                              13
HISPANIC/LATINO - PUERTO RICAN     11
BLACK/CAPE VERDEAN                 10
HISPANIC/LATINO - DOMINICAN         7
WHITE - RUSSIAN                     6
MULTI RACE ETHNICITY                6
CARIBBEAN ISLAND                    6
WHITE - OTHER EUROPEAN              5
ASIAN - ASIAN INDIAN                4
ASIAN - OTHER                       4
ASIAN - VIETNAMESE                  2
Name: ETHNICITY, dtype: int64

In [109]:
ls = ['WHITE' , 'WHITE - RUSSIAN' , 'WHITE - OTHER EUROPEAN', 'WHITE - EASTERN EUROPEAN',
'BLACK/AFRICAN AMERICAN' , 'BLACK/CAPE VERDEAN' , 'BLACK/HAITIAN'  , 'BLACK/AFRICAN',
'UNKNOWN/NOT SPECIFIED' , 'UNABLE TO OBTAIN' , 'OTHER' ,'PATIENT DECLINED TO ANSWER'  , 
'MULTI RACE ETHNICITY' , 'AMERICAN INDIAN/ALASKA NATIVE' , 'NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER',
'HISPANIC OR LATINO' , 'HISPANIC/LATINO - PUERTO RICAN', 'PORTUGUESE', 'HISPANIC/LATINO - DOMINICAN' , 
'CARIBBEAN ISLAND', 'SOUTH AMERICAN' , 'HISPANIC/LATINO - COLOMBIAN'  ,'HISPANIC/LATINO - MEXICAN'  , 
'HISPANIC/LATINO - SALVADORAN', 'ASIAN', 'ASIAN - CHINESE' , 'ASIAN - ASIAN INDIAN'  , 
'ASIAN - CAMBODIAN', 'ASIAN - VIETNAMESE'  , 'ASIAN - OTHER' ,'ASIAN - THAI'    , 'MIDDLE EASTERN']
label_ethn = [0,0,0,0,1,1,1,1,2,2,2,2,2,2,2,3,3,3,3,3,3,3,3,3,4,4,4,4,4,4,4,4]

df = pd.DataFrame(ls, columns=['ETHNICITY'])
df['ETHNICITY_enc'] = label_ethn
df.head()

                  ETHNICITY  ETHNICITY_enc
0                     WHITE              0
1           WHITE - RUSSIAN              0
2    WHITE - OTHER EUROPEAN              0
3  WHITE - EASTERN EUROPEAN              0
4    BLACK/AFRICAN AMERICAN              1

In [111]:
label_enc_intersec = pd.merge(intersection,df, on='ETHNICITY',how='left').drop(columns=['ETHNICITY'])
label_enc_intersec

,new_time,50868,50882,50893,50902,50912,50931,50960,50970,50971,...,220045,220179,220180,220210,220277,223761,CAL_AGE,GENDER,label,ETHNICITY_enc
0,200277_0,0.386179,0.400000,0.277405,0.470790,0.000701,0.025320,0.040149,0.135417,0.169492,...,0.602612,0.597384,0.630319,0.440789,0.997500,0.966862,0.073955,1,0.0,0
1,200277_12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.638060,0.662791,0.627660,0.368421,1.000000,0.956140,0.073955,1,0.0,0
2,200277_16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.699005,0.620155,0.652482,0.500000,0.993333,NaN,0.073955,1,1.0,0
3,200277_20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.714552,0.643411,0.691489,0.473684,0.997500,0.966618,0.073955,1,0.0,0
4,200277_4,0.373984,0.418182,0.281879,0.484536,0.000701,0.027821,0.041083,0.141927,0.197740,...,0.663246,0.632267,0.686170,0.486842,0.995000,0.961014,0.073955,1,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1274,299853_12,0.402439,0.200000,NaN,NaN,0.000990,0.039075,NaN,0.117188,0.177966,...,0.689366,NaN,NaN,0.438596,0.975417,0.944444,0.276527,0,0.0,0
1275,299853_16,0.365854,0.345455,0.238255,0.587629,0.001238,0.030322,0.056022,0.062500,0.144068,...,0.665734,NaN,NaN,0.479715,0.977292,0.948668,0.276527,0,0.0,0
1276,299853_20,0.439024,0.224242,0.305369,0.515464,0.001898,0.041575,0.046218,0.117188,0.223164,...,0.666667,NaN,NaN,0.456140,0.983333,0.958090,0.276527,0,0.0,0
1277,299853_4,0.378049,0.336364,0.239933,0.577320,0.000990,0.026415,0.053221,0.087891,0.169492,...,0.630597,0.649709,0.619681,0.374452,0.980833,0.961014,0.276527,0,1.0,0
1278,299853_8,0.378049,0.309091,0.255034,NaN,0.001361,0.040013,0.042017,0.121094,NaN,...,0.654984,0.749225,0.641135,0.380169,0.988125,0.960526,0.276527,0,0.0,0

In [100]:
''' 인종 분류하기  '''

ethn = {0 : ['WHITE' , 'WHITE - RUSSIAN' , 'WHITE - OTHER EUROPEAN', 'WHITE - EASTERN EUROPEAN']  ,

1 : ['BLACK/AFRICAN AMERICAN' , 'BLACK/CAPE VERDEAN' , 'BLACK/HAITIAN'  , 'BLACK/AFRICAN' ],

2 : ['UNKNOWN/NOT SPECIFIED' , 'UNABLE TO OBTAIN' , 'OTHER' ,'PATIENT DECLINED TO ANSWER'  , 'MULTI RACE ETHNICITY' , 'AMERICAN INDIAN/ALASKA NATIVE' , 'NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER' ],

3 : ['HISPANIC OR LATINO' , 'HISPANIC/LATINO - PUERTO RICAN', 'PORTUGUESE', 'HISPANIC/LATINO - DOMINICAN' , 'CARIBBEAN ISLAND', 'SOUTH AMERICAN' , 'HISPANIC/LATINO - COLOMBIAN'  ,'HISPANIC/LATINO - MEXICAN'  , 'HISPANIC/LATINO - SALVADORAN'  ],

4 : ['ASIAN', 'ASIAN - CHINESE' , 'ASIAN - ASIAN INDIAN'  , 'ASIAN - CAMBODIAN', 'ASIAN - VIETNAMESE'  , 'ASIAN - OTHER' ,'ASIAN - THAI'    , 'MIDDLE EASTERN']}

In [103]:
len(ethn[0]), len(ethn[1]),len(ethn[2]),len(ethn[3]),len(ethn[4])

(4, 4, 7, 9, 8)

In [112]:
label_enc_intersec.to_csv('./sungbin/9_20_intersection_4hours_input_table.csv', index=False)

In [ ]:
'''
220045 : HR
220050 : Arterial Blood Pressure systolic
220050 : Arterial Blood Pressure diastolic

'''

In [113]:
label_enc_intersec.ETHNICITY_enc.value_counts()

0    948
2    152
1     85
4     54
3     40
Name: ETHNICITY_enc, dtype: int64

In [162]:
#결손값 체크하기
length = len(final_input_table.iloc[:,1:-4].columns)
print(final_input_table.iloc[:,1:-4].notnull().sum(axis=1) / length , '\n')
drop_much_null = final_input_table[final_input_table.iloc[:,1:-4].notnull().sum(axis=1) / length > 0.5]

print(drop_much_null['class'].value_counts())
drop_much_null, 
len(drop_much_null)

0       0.888889
1       0.888889
2       0.666667
3       0.888889
4       0.888889
          ...
9956    0.555556
9957    0.055556
9958    0.555556
9959    0.555556
9960    0.111111
Length: 9961, dtype: float64

0.0    3464
1.0       3
Name: class, dtype: int64

3467

In [163]:
9961 - 3467

6494

## 간단한 머신러닝 모델 돌리기

In [3]:
import pandas as pd
final_input_table = pd.read_csv('./sungbin/8_31_final_4hours_input_table.csv')
# final_input_table.ETHNICITY.value_counts()
final_input_table

,new_time,"('CAL_TIME_AVG', 50802)","('CAL_TIME_AVG', 50804)","('CAL_TIME_AVG', 50808)","('CAL_TIME_AVG', 50813)","('CAL_TIME_AVG', 50818)","('CAL_TIME_AVG', 50820)","('CAL_TIME_AVG', 50821)","('CAL_TIME_AVG', 50868)","('CAL_TIME_AVG', 50882)",...,"('CAL_TIME_AVG', 220051)","('CAL_TIME_AVG', 220179)","('CAL_TIME_AVG', 220180)","('CAL_TIME_AVG', 220210)","('CAL_TIME_AVG', 220277)","('CAL_TIME_AVG', 223761)",CAL_AGE,ETHNICITY,GENDER,class
0,200131_0,0.956322,0.456140,NaN,NaN,0.176471,0.839695,0.067508,0.471049,0.513580,...,NaN,0.488636,0.285706,0.088617,0.964391,0.937130,69.0,WHITE,F,0.0
1,200131_12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.464789,0.488889,...,NaN,0.499861,0.293929,0.089772,0.965176,0.935235,69.0,WHITE,F,0.0
2,200131_16,0.956322,0.421053,NaN,NaN,0.139706,0.862595,0.057629,NaN,0.488889,...,NaN,0.502681,0.294313,0.090274,0.964086,0.937562,69.0,WHITE,F,0.0
3,200131_20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.450704,0.533333,...,NaN,0.500145,0.291857,0.089525,0.964058,0.936814,69.0,WHITE,F,0.0
4,200131_4,0.956322,0.473684,NaN,NaN,0.176471,0.847328,0.045554,0.460094,0.533333,...,NaN,0.496292,0.289210,0.089242,0.964077,0.936722,69.0,WHITE,F,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10232,299931_12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.464789,0.488889,...,NaN,NaN,NaN,NaN,NaN,NaN,65.0,WHITE,M,0.0
10233,299931_16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,65.0,WHITE,M,0.0
10234,299931_20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.521127,0.511111,...,NaN,NaN,NaN,NaN,NaN,NaN,65.0,WHITE,M,0.0
10235,299931_4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.476526,0.488889,...,NaN,NaN,NaN,NaN,NaN,NaN,65.0,WHITE,M,0.0
10236,299931_8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,65.0,WHITE,M,0.0

In [71]:
# 인종 레이블 인코딩
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
encoder.fit(final_input_table.ETHNICITY)
labels = encoder.transform(final_input_table.ETHNICITY)
print(labels)

[28 28 28 ... 28 28 28]

In [78]:
final_input_table['new_ethnicity']=labels
final_input_table

,new_time,"('CAL_TIME_AVG', 50802)","('CAL_TIME_AVG', 50804)","('CAL_TIME_AVG', 50808)","('CAL_TIME_AVG', 50813)","('CAL_TIME_AVG', 50818)","('CAL_TIME_AVG', 50820)","('CAL_TIME_AVG', 50821)","('CAL_TIME_AVG', 50868)","('CAL_TIME_AVG', 50882)",...,"('CAL_TIME_AVG', 220179)","('CAL_TIME_AVG', 220180)","('CAL_TIME_AVG', 220210)","('CAL_TIME_AVG', 220277)","('CAL_TIME_AVG', 223761)",CAL_AGE,ETHNICITY,GENDER,class,new_ethnicity
0,200131_0,0.956322,0.456140,NaN,NaN,0.176471,0.839695,0.067508,0.471049,0.513580,...,0.488636,0.285706,0.088617,0.964391,0.937130,69.0,WHITE,F,0.0,28
1,200131_12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.464789,0.488889,...,0.499861,0.293929,0.089772,0.965176,0.935235,69.0,WHITE,F,0.0,28
2,200131_16,0.956322,0.421053,NaN,NaN,0.139706,0.862595,0.057629,NaN,0.488889,...,0.502681,0.294313,0.090274,0.964086,0.937562,69.0,WHITE,F,0.0,28
3,200131_20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.450704,0.533333,...,0.500145,0.291857,0.089525,0.964058,0.936814,69.0,WHITE,F,0.0,28
4,200131_4,0.956322,0.473684,NaN,NaN,0.176471,0.847328,0.045554,0.460094,0.533333,...,0.496292,0.289210,0.089242,0.964077,0.936722,69.0,WHITE,F,0.0,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10232,299931_12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.464789,0.488889,...,NaN,NaN,NaN,NaN,NaN,65.0,WHITE,M,0.0,28
10233,299931_16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,65.0,WHITE,M,0.0,28
10234,299931_20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.521127,0.511111,...,NaN,NaN,NaN,NaN,NaN,65.0,WHITE,M,0.0,28
10235,299931_4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.476526,0.488889,...,NaN,NaN,NaN,NaN,NaN,65.0,WHITE,M,0.0,28
10236,299931_8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,65.0,WHITE,M,0.0,28

In [79]:
# 성별 레이블 인코딩
encoder=LabelEncoder()
encoder.fit(final_input_table.GENDER)
gender = encoder.transform(final_input_table.GENDER)
print(gender)

[0 0 0 ... 1 1 1]

In [80]:
final_input_table['new_gender']=gender
final_input_table

,new_time,"('CAL_TIME_AVG', 50802)","('CAL_TIME_AVG', 50804)","('CAL_TIME_AVG', 50808)","('CAL_TIME_AVG', 50813)","('CAL_TIME_AVG', 50818)","('CAL_TIME_AVG', 50820)","('CAL_TIME_AVG', 50821)","('CAL_TIME_AVG', 50868)","('CAL_TIME_AVG', 50882)",...,"('CAL_TIME_AVG', 220180)","('CAL_TIME_AVG', 220210)","('CAL_TIME_AVG', 220277)","('CAL_TIME_AVG', 223761)",CAL_AGE,ETHNICITY,GENDER,class,new_ethnicity,new_gender
0,200131_0,0.956322,0.456140,NaN,NaN,0.176471,0.839695,0.067508,0.471049,0.513580,...,0.285706,0.088617,0.964391,0.937130,69.0,WHITE,F,0.0,28,0
1,200131_12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.464789,0.488889,...,0.293929,0.089772,0.965176,0.935235,69.0,WHITE,F,0.0,28,0
2,200131_16,0.956322,0.421053,NaN,NaN,0.139706,0.862595,0.057629,NaN,0.488889,...,0.294313,0.090274,0.964086,0.937562,69.0,WHITE,F,0.0,28,0
3,200131_20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.450704,0.533333,...,0.291857,0.089525,0.964058,0.936814,69.0,WHITE,F,0.0,28,0
4,200131_4,0.956322,0.473684,NaN,NaN,0.176471,0.847328,0.045554,0.460094,0.533333,...,0.289210,0.089242,0.964077,0.936722,69.0,WHITE,F,0.0,28,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10232,299931_12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.464789,0.488889,...,NaN,NaN,NaN,NaN,65.0,WHITE,M,0.0,28,1
10233,299931_16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,65.0,WHITE,M,0.0,28,1
10234,299931_20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.521127,0.511111,...,NaN,NaN,NaN,NaN,65.0,WHITE,M,0.0,28,1
10235,299931_4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.476526,0.488889,...,NaN,NaN,NaN,NaN,65.0,WHITE,M,0.0,28,1
10236,299931_8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,65.0,WHITE,M,0.0,28,1

In [82]:
encoding_input_table = final_input_table.drop(columns=['ETHNICITY','GENDER'])
encoding_input_table

,new_time,"('CAL_TIME_AVG', 50802)","('CAL_TIME_AVG', 50804)","('CAL_TIME_AVG', 50808)","('CAL_TIME_AVG', 50813)","('CAL_TIME_AVG', 50818)","('CAL_TIME_AVG', 50820)","('CAL_TIME_AVG', 50821)","('CAL_TIME_AVG', 50868)","('CAL_TIME_AVG', 50882)",...,"('CAL_TIME_AVG', 220051)","('CAL_TIME_AVG', 220179)","('CAL_TIME_AVG', 220180)","('CAL_TIME_AVG', 220210)","('CAL_TIME_AVG', 220277)","('CAL_TIME_AVG', 223761)",CAL_AGE,class,new_ethnicity,new_gender
0,200131_0,0.956322,0.456140,NaN,NaN,0.176471,0.839695,0.067508,0.471049,0.513580,...,NaN,0.488636,0.285706,0.088617,0.964391,0.937130,69.0,0.0,28,0
1,200131_12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.464789,0.488889,...,NaN,0.499861,0.293929,0.089772,0.965176,0.935235,69.0,0.0,28,0
2,200131_16,0.956322,0.421053,NaN,NaN,0.139706,0.862595,0.057629,NaN,0.488889,...,NaN,0.502681,0.294313,0.090274,0.964086,0.937562,69.0,0.0,28,0
3,200131_20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.450704,0.533333,...,NaN,0.500145,0.291857,0.089525,0.964058,0.936814,69.0,0.0,28,0
4,200131_4,0.956322,0.473684,NaN,NaN,0.176471,0.847328,0.045554,0.460094,0.533333,...,NaN,0.496292,0.289210,0.089242,0.964077,0.936722,69.0,0.0,28,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10232,299931_12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.464789,0.488889,...,NaN,NaN,NaN,NaN,NaN,NaN,65.0,0.0,28,1
10233,299931_16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,65.0,0.0,28,1
10234,299931_20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.521127,0.511111,...,NaN,NaN,NaN,NaN,NaN,NaN,65.0,0.0,28,1
10235,299931_4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.476526,0.488889,...,NaN,NaN,NaN,NaN,NaN,NaN,65.0,0.0,28,1
10236,299931_8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,65.0,0.0,28,1

In [92]:
# just test
minus_one_input_table = encoding_input_table.fillna(-1)

In [96]:
minus_one_input_table

,new_time,"('CAL_TIME_AVG', 50802)","('CAL_TIME_AVG', 50804)","('CAL_TIME_AVG', 50808)","('CAL_TIME_AVG', 50813)","('CAL_TIME_AVG', 50818)","('CAL_TIME_AVG', 50820)","('CAL_TIME_AVG', 50821)","('CAL_TIME_AVG', 50868)","('CAL_TIME_AVG', 50882)",...,"('CAL_TIME_AVG', 220051)","('CAL_TIME_AVG', 220179)","('CAL_TIME_AVG', 220180)","('CAL_TIME_AVG', 220210)","('CAL_TIME_AVG', 220277)","('CAL_TIME_AVG', 223761)",CAL_AGE,class,new_ethnicity,new_gender
0,200131_0,0.956322,0.456140,-1.0,-1.0,0.176471,0.839695,0.067508,0.471049,0.513580,...,-1.0,0.488636,0.285706,0.088617,0.964391,0.937130,69.0,0.0,28,0
1,200131_12,-1.000000,-1.000000,-1.0,-1.0,-1.000000,-1.000000,-1.000000,0.464789,0.488889,...,-1.0,0.499861,0.293929,0.089772,0.965176,0.935235,69.0,0.0,28,0
2,200131_16,0.956322,0.421053,-1.0,-1.0,0.139706,0.862595,0.057629,-1.000000,0.488889,...,-1.0,0.502681,0.294313,0.090274,0.964086,0.937562,69.0,0.0,28,0
3,200131_20,-1.000000,-1.000000,-1.0,-1.0,-1.000000,-1.000000,-1.000000,0.450704,0.533333,...,-1.0,0.500145,0.291857,0.089525,0.964058,0.936814,69.0,0.0,28,0
4,200131_4,0.956322,0.473684,-1.0,-1.0,0.176471,0.847328,0.045554,0.460094,0.533333,...,-1.0,0.496292,0.289210,0.089242,0.964077,0.936722,69.0,0.0,28,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10232,299931_12,-1.000000,-1.000000,-1.0,-1.0,-1.000000,-1.000000,-1.000000,0.464789,0.488889,...,-1.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,65.0,0.0,28,1
10233,299931_16,-1.000000,-1.000000,-1.0,-1.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,65.0,0.0,28,1
10234,299931_20,-1.000000,-1.000000,-1.0,-1.0,-1.000000,-1.000000,-1.000000,0.521127,0.511111,...,-1.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,65.0,0.0,28,1
10235,299931_4,-1.000000,-1.000000,-1.0,-1.0,-1.000000,-1.000000,-1.000000,0.476526,0.488889,...,-1.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,65.0,0.0,28,1
10236,299931_8,-1.000000,-1.000000,-1.0,-1.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,65.0,0.0,28,1

In [93]:
# 1. 결정트리
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split, GridSearchCV

import warnings
warnings.filterwarnings('ignore')

dt_clf = DecisionTreeClassifier(random_state=156)

# iris_data = load_iris()
# X_train,X_test, y_train,y_test = train_test_split(iris_data.data, iris_data.target, test_size=0.2, random_state=11)

params = {
    'max_depth' : [6, 8, 10, 12, 16, 20, 24]
}

X = minus_one_input_table.drop(columns=['class']).values
y = minus_one_input_table['class'].values

grid_cv = GridSearchCV(dt_clf, param_grid=params, scoring='accuracy', cv=5, verbose=1)
grid_cv.fit(X, y)

Fitting 5 folds for each of 7 candidates, totalling 35 fits

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(random_state=156),
             param_grid={'max_depth': [6, 8, 10, 12, 16, 20, 24]},
             scoring='accuracy', verbose=1)

In [95]:
print('GridSearchCV 최고 평균 정확도 수치 : {:.4f}'.format(grid_cv.best_score_))
print('GridSearchCV 최적 하이퍼파라미터 :', grid_cv.best_params_)

GridSearchCV 최고 평균 정확도 수치 : 0.9922
GridSearchCV 최적 하이퍼파라미터 : {'max_depth': 6}

In [86]:
encoding_input_table.drop(columns=['class']).values

array([['200131_0', 0.9563218390804598, 0.4561403508771929, ..., 69.0,
        28, 0],
       ['200131_12', nan, nan, ..., 69.0, 28, 0],
       ['200131_16', 0.9563218390804598, 0.4210526315789473, ..., 69.0,
        28, 0],
       ...,
       ['299931_20', nan, nan, ..., 65.0, 28, 1],
       ['299931_4', nan, nan, ..., 65.0, 28, 1],
       ['299931_8', nan, nan, ..., 65.0, 28, 1]], dtype=object)

In [88]:
encoding_input_table['class'].values

array([0., 0., 0., ..., 0., 0., 0.])